{{#if viewport.isSmall}}
    <img class="logo" src="http://emberjs.com/images/tomsters/denver.png" alt="Denver Tomster" />
    <div>Next event goes here</div>
    <a>More meetups</a>
{{/if}}
{{event-listing}}
