<h2>Contact Us</h2>
<form>
    <p>Instructions go here</p>
    <label>Name{{input type="text" value=contactName}}</label>
    <label>Email{{input type="text" value=contactEmail}}</label>
    <label>Message</label>
    {{textarea value=message}}
    <input type="submit" value="Send Message" />
</form>
