<header>
    <h1>
        {{#link-to "index"}}
            <img class="logo" src="http://emberjs.com/images/tomsters/denver.png" alt="Denver Tomster" />
            Denver Ember
        {{/link-to}}
    </h1>
    {{navigation-bar}}
</header>
